@(sunInfo: model.SunInfo, temperature: Double)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <h1>Hello Play</h1>
        <h2>Showing Sunrise & Sunset times in @sunInfo.timezone</h2>
        <div>
            Sunrise Time: @sunInfo.sunrise
        </div>
        <div>
            Sunset Time: @sunInfo.sunset
        </div>

        <div>
            Current Temperature: @temperature
        </div>
    </body>
</html>
